* {
    margin: 0;
    padding: 0;
}
.central{
    background: #ffffff;
    background-image: url("https://media.istockphoto.com/id/1327566267/video/abstract-magenta-blue-orange-soft-gradient-cycle-slow-motion-background-loop.jpg?s=640x640&k=20&c=JkeZVgKCTx0u0RbGCTGQLscVMJq_eu6mr5bln00cE3E=");
    display: flex;
    flex-direction: column;
}
a{
    padding-left: 10px;
    font-size: large;
}

h2{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

p{
    padding: 15px;
    text-align: justify;
    font-size: 17px;
    color: black;
    font-family: sans-serif;
}

nav{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border: 4px solid black;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
}

.c1{
    display: flex;
    flex-wrap: wrap;

}
    .c1-l{
        flex: 1 1 50%;
        background: #ced8f3;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 10px 10px 10px black;
        
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;
    }

    .c1-r{
        flex: 1 1 20%;
        background: #ced8f3;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;

        min-width: fit-content;

        display: flex;
        flex-flow: column;
        justify-content: center;

        box-shadow: 10px 10px 10px black;
    }

        .cuadro-enlace{

            margin: 5px;
            padding-left: 8px;
            border-radius: 5px;

            display: flex;
            flex-flow: row;
            align-items: center;
        }

.c2{
    display: flex;
    flex-wrap: wrap;
}
    .c2-l{
        flex: 1 1 50%;
        background: #f53b57;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;

        min-width: fit-content;

        box-shadow: 10px 10px 10px black;

    }
        .columnas{
            margin: 45px;
            display: flex;
            justify-content: space-evenly;
        }
            .login{
                display: flex;
                flex-flow: column;
                align-items: flex-start;
                justify-content: center;
                
                min-width: fit-content;
            }
            .welcome{
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
            }

    .c2-r{
        flex: 1 1 20%;
        background: #f53b57;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;

        min-width: 420px;

        box-shadow: 10px 10px 10px black;

    }
        .cajattexto{
            background: #4CAF50;
            margin: 10px;
        }

.c3{
    display: flex;
    flex-wrap: wrap;
}
    .c3-l{
        flex: 1 1 50%;
        background: #ced8f3;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;

        box-shadow: 10px 10px 10px black;

    }
        .columnas2{
            display: flex;
            flex-wrap: wrap;
        }
            .texto{
                flex: 1 1 50%;
                padding: 25px;

                min-width: 220px;
            }
            .conversor{
                background: #4e3bf5;
                border-radius: 5px;
                align-self: center;
                min-width: 300px;

                flex: 1 1 20%;
                padding: 20px;

            }
    .c3-r{
        flex: 1 1 20%;
        background: #ced8f3;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;

        box-shadow: 10px 10px 10px black;

        display: flex;
        align-items: center;
        justify-content: center;
    }